name: Terraform Pipeline

on:
  push:
    branches:
      - main
      - develop
    paths:
      - "terraform/**"

jobs:
  terraform:
    name: Terraform Workflow
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./terraform

    env:
      TF_VAR_supabase_access_token: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      TF_VAR_organization_id: ${{ secrets.SUPABASE_ORG_ID }}
      TF_VAR_db_password: ${{ secrets.SUPABASE_DB_PASSWORD }}
      TF_VAR_project_name: "PRODUCTION-by-terraform"
      TF_VAR_region: "ap-southeast-1"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.3"
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        if: github.ref == 'refs/heads/develop'
        run: terraform plan -input=false

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve -input=false
